*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.header {
  height: 70px;
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  backdrop-filter: blur(25px);
  position: sticky;
  top: 0;
  background-color: rgba(11, 11, 11, 0.045);
  justify-content: space-between;
  box-shadow: 0px 0px 50px black;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.logo {
  width: 150px;
  margin: 5px;
}

.search {
  width: 650px;
  height: 40px;
  
  margin: 6px;
  display: flex;
  flex-direction: row;
}



.signin {
  width: 150px;
  padding: 5px;
  margin: 5px;
}

.logoimage {
  height: 60px;
}

.sidebar {
  width: 200px;
  border: 1px solid rgb(30, 30, 30);
  /* background-color: rgba(11, 11, 11, 0.484); */
  backdrop-filter: blur(15px);
  color: white;
  display: flex;
  flex-direction: column;
  /* position: fixed; */
}

.sidebarItem {
  height: 50px;
  vertical-align: middle;
  text-align: center;
  background-color: rgba(212, 13, 13, 0.266);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1px;
  transition: 0.3s;
}

.sidebarItem:hover{
  transform: scale(1.05);
  background-color: rgba(249, 46, 46, 0.655);
  box-shadow: 0px 0px 20px rgb(0, 0, 0);
  color: white;
  
}

.wrapper{
  background-image: url(back.jpg);
  background-attachment: fixed;
  background-position: center;
}

.videos {
  flex: 1;
  background-color: rgba(0, 0, 0, 0.044);
  /* background-image: url(back.jpg);
  background-attachment: fixed;
  background-position: center; */
  /* background-size: cover; */
  /* filter: blur(10px); */
  /* background-size: cover; */
  display: flex;
  
  flex-direction: row;
  flex-wrap: wrap;
}

.video {
  width: 400px;
  height: 300px;
  margin: 15px;
  display: flex;
  border-radius: 16px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
  overflow-x: hidden;
  transition: 0.5s;
}

.video:hover{
  box-shadow: 0px 0px 100px rgb(224, 7, 79);
}

.thumbnail {
  flex: 5;
  /* border-radius: 16px; */
}

.thumbnailImage {
  width: 100%;
  height: 100%;
  border-radius: 14px;
  transition: 0.5s;
}

.thumbnailImage:hover{
  transform: scale(1.03);
  box-shadow: 0px 0px 100px palevioletred;
}

.titlewrapper {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.channelphoto {
  width: 60px;
  height: 60px;
  border-radius: 30px;
}

.title {
  flex: 1;
  margin: 2px;
  color: white;
  
}

.channel {
  flex: 1;
  margin: 2px;
  font-weight: bold;
}

.views {
  flex: 1;
}

#aayush{
  text-wrap: wrap;
  background-color: rgb(182, 119, 240);
  box-shadow: 0px 0px 25px purple;
}

#aayush:hover{
 background-color: rgb(151, 59, 237);
 color: rgb(255, 255, 255);
 box-shadow: 0px 0px 50px purple;

}

.searchInput {
  background-color: rgba(246, 142, 142, 0.101);
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  box-shadow: 0px 0px 25px rgb(208, 8, 108);
  
  border: 1px solid rgb(168, 11, 11);

  flex: 4;
  padding-left: 15px;
}


.searchButton {
  width: 150px;
  flex: 1;
  color: aliceblue;
  background-color: rgb(205, 42, 94);
  border: 1px solid rgb(176, 175, 175);
  box-shadow: 0px 0px 25px rgb(208, 8, 108);

  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 5px;
}

.searchButton:hover{
  box-shadow: 0px 0px 25px rgb(204, 8, 208);
}

.signInButton {
  width: 80%;
  border-color: rgb(204, 9, 139);
  border-width: 3px;
  background-color: rgb(205, 42, 94);
  box-shadow: 0px 0px 25px rgb(208, 8, 108);

  color: aliceblue;
  transition: 0.5s;
  height: 80%;
  border-radius: 30px;
}
.signInButton:hover {
  box-shadow: 0px 0px 50px rgb(204, 8, 208);
  /* text-shadow: 0px 0px 25px rgb(204, 8, 208); */
}



.channelImage {
  width: 100%;
  height: 100%;
  border-radius: 100px;
}
